<footer>

    <div>
        <span class="insta">
            Me mande mensagem caso haja duvida:
            <a href="https://www.instagram.com/direct/t/17844395208137011/"><ion-icon name="logo-instagram"></ion-icon></a>
        </span>
    </div>

    <div>
        <span class="footerInfo">
            <p>Não ofenda ninguém!</p>
            <p>Use com consciência!</p>
        </span>
    </div>

</footer>
