<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/perfil.css">
    <link rel="stylesheet" href="/style/views.css">
    <link rel="stylesheet" href="/style/trabalharContratar.css">
    <link rel="stylesheet" href="/style/loginRegistro.css">
    <link rel="stylesheet" href="/style/sobre.css">
    <link rel="stylesheet" href="/style/chatAll.css">

    <title>DeliPeople</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="shortcut icon" href="/img/trabalhadores.jpg" type="image/x-icon">
</head>
<body>
