<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="containerSobre">
    
        
    
        
        <div class="sobre">

            <h1>Sobre este site</h1>
            <p>Este site foi criado com o propósitode trabalhadores informais conseguirem emprego. Por falta de anúncios de vagas muitas pessoas acabam que não sabem onde possui vagas para empregos e acabam perdendo-as. Então por isso este site foi criado no intuito de fazer com que as pessoas consigam arranjar trabalhos. Como também caso as empresas queiram contratar alguma pessoa, isto será possível da mesma forma. </p>

        </div>
        
        <div class="modoUso">

            <h1>Modo de uso!</h1>
            <ol>
                <li>Registre-se usando a conta do google, caso não tenha crie uma!</li>
                <li>Logo após, defina se você é uma empresa ou um proletário.</li>
                <li>Em seguida, faça seu cadastro e envie seus dados (deixe o E-mail como o mesmo que você usou para se registrar).</li>
                <li>A partir de agora você pode contratar ou ser contratado. Obrigado pela confiança!</li>
            </ol>

        </div>
    

</div>

<%- include('../partials/footer') %>

<script src="/js/navbar.js"></script>
