
<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
    
<div class="containerLogin">
    <div class="login">
        <h1>Faça seu login aqui</h1>
        <a href="/auth/google"><button> <img src="/img/google.png" id="google">Google</button></a>
    </div>

</div>

<script src="/js/navbar.js"></script>



